name: Release npm package

on:
  push:
    tags:
    - 'v*'

# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/controlling-permissions-for-github_token
permissions: {}

jobs:
  pkg:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write  # needed for publishing to GH package registry
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 25.x
        registry-url: https://registry.npmjs.org/
        scope: '@cdxgen'
    - uses: actions/setup-go@v6
      with:
        go-version: '^1.25.5'
    - uses: swift-actions/setup-swift@v2
      if: matrix.os == 'ubuntu-latest'
      with:
        swift-version: '6.0'
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - uses: oras-project/setup-oras@v1
    - run: oras version
    - name: Trim CI agent
      run: |
        chmod +x contrib/free_disk_space.sh
        ./contrib/free_disk_space.sh
    - name: Release
      run: |
        wget https://github.com/upx/upx/releases/download/v5.0.2/upx-5.0.2-amd64_linux.tar.xz
        tar -xvf upx-5.0.2-amd64_linux.tar.xz
        chmod +x upx-5.0.2-amd64_linux/upx
        sudo cp upx-5.0.2-amd64_linux/upx /usr/local/bin/
        bash build.sh
        npm publish --provenance --access=public

        pushd packages/windows-amd64
        npm publish --provenance --access=public
        popd

        pushd packages/linux-amd64
        npm publish --provenance --access=public
        popd

        pushd packages/linux-arm64
        npm publish --provenance --access=public
        popd

        pushd packages/linuxmusl-amd64
        npm publish --provenance --access=public
        popd

        pushd packages/linuxmusl-arm64
        npm publish --provenance --access=public
        popd

        pushd packages/linux-riscv64
        npm publish --provenance --access=public
        popd

        pushd packages/linux-arm
        npm publish --provenance --access=public
        popd

        pushd packages/windows-arm64
        npm publish --provenance --access=public
        popd

        pushd packages/darwin-arm64
        npm publish --provenance --access=public
        popd

        pushd packages/darwin-amd64
        npm publish --provenance --access=public
        popd

        pushd packages/ppc64
        npm publish --provenance --access=public
        popd
      env:
        NODE_OPTIONS: --max_old_space_size=4096
